.NR_head_banner{
	margin:0 auto;
	height:356px;
	background: url(../img/pic_banner.jpeg) no-repeat center top;
}

.NR_head_banner{
	position:relative;
}
.NR_nav_2_box{
	position:absolute;
	top:75px;
	left:0;
	width:199px;
	/*height:100px;*/
	border-right:1px solid #dcdcdc;
	background:red;
}
.NR_head_banner_content_box{
	padding-top:40px;
	height:315px;
	/*background:#E2FFCB;*/
	position: relative;
}
.NR_head_banner_left_list_box{
	width:175px;
	position:absolute;
	left:0;
	top:40px;
	height:440px;;
	background:url(../img/NRZX_img/pic_banner_list_bg.jpg) repeat-y;;
	padding:30px 10px 0 15px;
}
.NR_head_banner_left_list{
	margin-bottom:17px;
}

.h4_title{
	line-height:30px;
	font-size:16px;
}
.h4_title a{
	color:#5f4a3c;
}

.NR_head_banner_item_box{
	line-height:22px;
}
.NR_head_banner_item_box a{
	color:#280000;
	display:inline-block;
	margin-right:10px;
}
.NR_banner_middle_box{
	position: absolute;
	left:200px;
	top:0;
	width:720px;
	/*background: red;*/
}
.NR_banner_ad_box{
	display: block;
	width:720px;
	height:355px;
	/*background: yellow;*/
}


.NR_banner_right_box{
	width:270px;
	position:absolute;
	right:0;
	top:40px;
	/*height:280px;*/
	background: #fff;
	padding:10px 0;
	/*word-spacing: -6px;*/
	/*font-size:0;*/
}
.NR_banner_right_item{
	border-bottom:1px solid #dcdcdc;
	padding-bottom:10px;
}
.NR_banner_right_item li{
	float:left;
	width:134px;
}
.NR_banner_right_item li div{
	float:left;
	width:125px;
	height:1px;
	margin:10px 4px 10px 5px;
	border-top:1px dashed #dcdcdc;
}
.NR_banner_right_item_ico{
	float:left;
	width:125px;
	height:65px;
	padding:0 4px;
	border-right:1px dashed #dcdcdc;
	background:url(../img/NRZX_img/NR_banner_right_ico.png) no-repeat 0 0;
}

.border_bg{
	background:url(../img/NRZX_img/pic_banner_ico_line.png) no-repeat 0 bottom;	
}
.NR_banner_ManYiDu_box{
	/*height:110px;*/
}
.NR_banner_ad_list_box{
	width:720px;
	margin-top:10px;
	padding-left:10px;
}
.NR_banner_ad_list_box li{
	position: relative;
}
.bg_text_box{
	position: absolute;
	left:20px;
	bottom:10px;
	width:185px;
	height:56px; 
}
.bg_box{
	position: absolute;
	left:0;
	bottom:0;
	width:185px;
	height:56px; 
	background: #fff;
	opacity: 0.6;
}
.text_box{
	position: absolute;
}
.text{
	display: block;
	width:185px;
	line-height:24px;
	font-size:18px;
	font-weight: bold;
	padding-top:7px;
	color:#ff6b31;
	text-align: center;
}
.text_info{
	display: block;
	width:185px;
	line-height: 18px;
	padding-bottom:6px;
	color:#333;
	text-align: center;
}
.NR_banner_ManYiDu_box{
	padding:13px 10px 5px 20px;
}
.NR_banner_ManYiDu_left{
	padding-right:30px;
}
.NR_banner_ManYiDu_left a{
	display: block;
	width:58px;
	height:69px;
	padding-left:20px;
	background: url(../img/NRZX_img/NR_banner_right_ico.png) no-repeat 0 -268px;
}

.NR_banner_ManYiDu_left a strong{
	line-height:90px;
	font-size:30px;
	color:#ff530f;
}
.NR_banner_ManYiDu_right_line_box{
	width:3px;
	height:82px;
	background: url(../img/NRZX_img/NR_banner_right_ico.png) no-repeat 0 -339px;
}

.NR_banner_ManYiDu_right_num_box{
	padding-left:15px;
	padding-top:15px;
	color:#9c523d;
	line-height:20px;
}
.NR_banner_ManYiDu_right_num_box a{
	display:block;
	font-size:16px;
	color:#ff4800;
	font-family:"微软雅黑";
}


.NR_banner_AllSay_box{
	margin:0 15px;
	padding:10px 10px 50px 10px;
	background:url(../img/NRZX_img/pic_AllSay_box_bg.png) no-repeat;
}
.NR_banner_AllSay_title{
	line-height:24px;
}
.user_info{
	line-height:30px;
}
.NR_AllSay_box_TravelItem{
	line-height:30px;
}
.NR_AllSay_box_TravelItem_pinglun{
	line-height: 20px;
}


.NR_content{
	background:#f4f4f4;
}
.NR_content_box{
	height:500px;
	padding-top:180px;
	/*background: yellow;*/
}
.NR_content_item_title{
	height:39px;
	background: url(../img/NRZX_img/pic_item_title.jpg) no-repeat;
	text-indent: -9999px;
	
}
.NR_content_item_content_box{
	background:#fff;
}
.NR_content_item_content_left_box{
	padding-right:5px;
	position: relative;
}
.NR_content_item_content_left_info_box{
	position: absolute;
	right:0;
	top:57px;
	width:150px;
	height:117px;
	/*background: red;*/
}
.NR_content_item_content_left_info_box li{
	padding-bottom:10px;
	height:40px;
}
.NR_content_item_content_left_info_box li a{
	padding:0 10px;
	border:1px solid #fff;
	line-height:30px;
	border-radius: 18px;
	background: #fff;
	color:#666;
}
.NR_content_item_content_left_info_box li a:hover{
	border:1px solid #ff6600;
	background:#ff6600;
	color:#fff;
	line-height:36px;
}
.NR_content_item_content_left_info_box li div{
	width:8px;
	height:8px;
	border:1px solid #a2a2a2;
	border-radius:5px;
	background: #a2a2a2;
	margin-top:10px;
}
.NR_content_item_content_left_info_box li a:hover .NR_content_item_content_left_info_box li div{
	background:#ff6600;
	border:1px solid #ff6600;
	
}/*-------怎么没效果？？----------------------------------------*/




.NR_content_item_content_right_box{
	padding:10px;
}

.NR_content_item_content_right_list_box{
	margin-right:15px;
	width:220px;
	/*background: #f2f2f2;*/
	box-shadow: 0 2px 8px #ddd;
}
.NR_content_item_content_pic_box{
	position: relative;
	display:block;
	height:130px;
}
.pic_text_box{
	position: absolute;
	left: 0;
	bottom: 0;
	width:210px;
	height:22px;
	padding:0 5px;
}
.pic_text_box span{
	color:#fff;
}
.NR_pic_info_box{
	background: #fff;
	padding:5px 5px 10px 5px;
}
.NR_pic_info{
	line-height:20px;
	color:#404040;
	font-weight: bold;
}
.NR_pic_price_box{
	display: block;
}
.NR_same_price_style{
	display:inline-block;
	color:#ff6600;
}
.NR_pic_info_box .same_price_num{
	font-size:20px;
}
.recommend_point{
	line-height:18px;
	color:#999;
	padding:30px 5px 10px 5px;
	background:#f2f2f2;
}


