body, h1, h2, h3, p{
	margin:0;	
}
body{
	font: 12px Arial,"微软雅黑";
}
em{
	font-style:normal;
}
img{
	border:none;
	vertical-align: top;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content:"";
	display: block;
	clear:both;
}
body .fl{
	float:left;
}
body .fr{
	float:right;
}

.FullW{
	width:100%;
}
.CS{
	margin:0 auto;
	width:1180px;
}
/*SideBar-begin*/
.SideBar{
	position: fixed;
	right:0;
	bottom:0;
	width:40px;
	height: 81px;
	/*background: #0000FF;*/
	z-index: 10;
}
.SideBar a, .SideBar a i{
	display: block;
}
.SideBar a:nth-of-type(1){
	/*background: #c1c1c1;*/
	background: rgba(0,0,0,.2);
	width:100%;
	height:29px;
	padding-top:11px;
	/*margin-bottom:1px;*/
}
.SideBar a:nth-of-type(1) i{
	width:18px;
	height:18px;
	margin:auto;
	background: url(../img/XBT.png) no-repeat 0 -153px;
}
.SideBar a:nth-of-type(2){
	/*background: #7f7f7f;*/
	background-color: rgba(51,51,51,.6);
	width:100%;
	height:36px;
	padding-top:14px;
	margin-top:1px;
}
.SideBar a:nth-of-type(2) i{
	width:23px;
	height:12px;
	margin:auto;
	background: url(../img/XBT2.png) no-repeat -30px -98px;
}
.SideBar a:nth-of-type(2):hover{
	background: #70ca10;
}

/*head-begin*/
.head{
	height:50px;
}
.top_wrap{
	position:fixed;
	z-index: 10;
	height:50px;
	background:#323436;
	color:#8c8c8c;
}
.head_logo{
	float:left;
}
.head_logo a{
	display: block;
	padding:7px 4px 9px 0;
	margin-right:20px;
	width:127px;
	height:34px;
	background: url(../img/pic_head_logo.jpg) no-repeat left 7px;
	text-indent: -999px;
	overflow: hidden;
}
/*nav-begin*/
.top_wrap_navl{
	float:left;
	height:50px;
}
.top_wrap_navl a{
	display:inline-block;
	line-height:50px;
	padding:0 20px;
	color:#8c8c8c;
	vertical-align: top;
}
.more i{
	margin-top:24px;
	margin-left:10px;
	width:7px;
	height:4px;
	background: url(../img/XBT.png) no-repeat 0 0;
}
.top_wrap_navl a:hover{
	color:#fff;
	background:#666666;
}
.top_wrap_navr{
	margin-top:10px;
	margin-bottom:8px;
}
.top_wrap_navr a{
	float:left;
	width:70px;
	height:32px;
	text-align:center;
	line-height:32px;
}
.search{
	background: url(../img/pic_search_ico.jpg) no-repeat center;
}
.search:hover{
	background: #666666 url(../img/pic_search_ico.jpg) no-repeat center;
}
.top_wrap_navr a:nth-of-type(2){
	color:#acacac;
	background: #505050;
}
.top_wrap_navr a:nth-of-type(2):hover{
	color:#fff;
}
.top_wrap_navr a:nth-of-type(3){
	color:#fff;
	background: #6bc30d;
}
/*nav_wrap-begin*/
.nav_openbtn{
	float:left;
	height:50px;
	display:none;
	position:relative;
}
.nav_openbtn .obtn{
	float: left;
	width:16px;
	height:50px;
	padding:0 20px;
	background: url(../img/pic_nav_openbtn.jpg) no-repeat 20px 20px;
}
/*.nav_openbtn .obtn:hover{
	background:#666 url(../img/pic_nav_openbtn.jpg) no-repeat 20px 20px;
}*/
.nav_olist{
	width:100px;
	position: absolute;
	left:20px;
	top:50px;
	background: #fff;
	display: none;
}
.nav_olist li{
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-bottom:1px solid #384858;
}
.nav_olist li a{
	display: block;
	height: 40px;
	width:100%;
	color:#555;
}
/*.nav_olist li a:hover{
	background: #70CA10;
}*/
/*banner-begin*/
.banner{
	height:200px;
	background:url(../img/pic_banner.jpg) no-repeat 0 center;
	text-align: center;
}

.djs_box{
	padding:30px 0;
}

.djs_box span{
	display:inline-block;
	font-size:48px;
	color:#00ffea;
	line-height:48px;
	font-family: "HELVETICANEUELTPRO-THEX";
}
.djs_box i{
	display: inline-block;
	height:40px;
	width:1px;
	border-left:1px solid #385b72;
	margin:0 10px;
	
}
.djs_box em{
	color:#729cb7;
}
.djs_box p{
	line-height:26px;
	color:#547c95;
}
.banner div:nth-of-type(2){
	word-spacing: -6px;	
}
.banner div:nth-of-type(2) a{
	display: inline-block;
	width:120px;
	height:30px;
	text-align: center;
	line-height: 30px;
}
.banner div:nth-of-type(2) a:nth-of-type(1){
	background: #00b4de;
	color:#fff;
}
.banner div:nth-of-type(2) a:nth-of-type(2){
	background: #486d7f;
	color:#8096a4;
}
/*banner-ending*/
/*type_wrap-begin*/
.type_wrap{
	height:60px;
	background: #f7f8f8;
	/*border-bottom:1px solid #e2e2e2;*/
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	position:relative;
	z-index: 1;
}
.type_wrap_body{
	padding:10px 0;
}
.type_wrap_nav_list{
	float:left;
	margin-right:1px;
}
.type_wrap_nav_list a{
	float:left;
	width:126px;
	height:40px;
	line-height:40px;
	color:#535353;
	text-align: center;
	box-sizing: border-box;
	/*word-spacing: -6px;*/
}
.type_wrap_nav_list a i{
	display: inline-block;
	width:9px;
	height:5px;
	background:url(../img/XBT.png) no-repeat 0 -62px;
	margin-left:3px;
}
.type_wrap_nav_list:nth-of-type(1){
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);
	background: #edeeee;
	z-index: 2;
}

.type_wrap_nav_list a em{
	display: inline-block;
	vertical-align: -3px;
	width:12px;
	height:16px;
	margin-right:4px;
	background:url(../img/XBT.png) no-repeat 0 -44px;
}

.type_wrap_nav_list:nth-of-type(3) a em{
	background:url(../img/XBT.png) no-repeat 0 -69px;
}
.type_wrap_nav_list:nth-of-type(4) a em{
	background:url(../img/XBT.png) no-repeat 0 -87px;
}

.some_news{
	margin-left:30px;
	height:40px;
	line-height:40px;
}
.some_news i{
	float:left;
	width:12px;
	height:14px;
	margin-top:12px;
	margin-right:18px;
	background:url(../img/XBT.png) no-repeat 0 -28px;
}
.some_news_box{
	float:left;
	width:530px;
	height:40px;
	visibility: visible;
	
}
.some_news_btn{
	float:right;
	margin-left:20px;
	margin-top:12px;
	width:7px;
}
.some_news_btn a{
	display: block;
	width:7px;
	height:4px;
	background:url(../img/XBT.png) no-repeat -30px 0;
}

.some_news_btn a:nth-of-type(2){
	background:url(../img/XBT.png) no-repeat -30px -6px;
	margin-top:5px;
}

.SomeoneNews{
	color:#929292;
}
.SomeoneNews a{
	color:#1f892f;
}
.SomeoneNews div{
	height:40px;
	line-height:40px;
	width:230px;
	margin-right:10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



.content{
	/*height:1000px;*/
	background:#f1f1f1;
	position:relative;
	z-index: 1;
}

.content_box{
	padding-top:50px;
	/*background: #009900;*/
}
.content_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.pic_box{
	width:280px;
	height:270px;
	background: #517AC0;
	margin-bottom:45px;
}
.content_box .pic_box:nth-of-type(1){
	width:580px;
	height:270px;
}
.pic_box a:only-child{
	display: block;
}
.pic_info_box{
	height:90px;
	background: #fff;
}
.talk_info{
	height:25px;
	padding:20px 20px 0 20px;
}

.talk_info a{
	margin-right:10px;
	color:#c0c0c0;
}
.talk_info a i{
	width:18px;
	height: 14px;
	margin-right:5px;
	background: url(../img/XBT.png) no-repeat -30px -12px;
}
.talk_info .num2 i{
	background: url(../img/XBT.png) no-repeat -30px -28px;
}

.talk_info .num3 i{
	background: url(../img/XBT.png) no-repeat -30px -44px;
}




.original_info{
	height:34px;
	line-height:24px;
	padding:10px 20px 0 20px;
	border-top:1px solid #f2f2f2;
}
.pic_info_box .original_info a{
	margin-right:5px;
	color:#c0c0c0;
}
.original_info i{
	float:right;
	width:16px;
	height:16px;
	margin-top:2px;
	background: url(../img/XBT.png) no-repeat -30px -60px;
}


.PageTurn{
	height:36px;
	padding-bottom:50px;
}
.PageTurn a{
	float:left;
	width:36px;
	height: 36px;
	margin-right:5px;
	background: #fff;
	line-height: 36px;
	text-align: center;
	color:#a9a9a9;
}
.PageTurn a:first-child {
	background-color: #70ca10;
	color:#fff;
}

.PageTurn a:last-child i{
	display: block;
	margin:8px 0 0 13px;
	width:11px;
	height: 18px;
	background:#fff url(../img/XBT.png) no-repeat -30px -78px;
}
.PageTurn a:hover{
	color:#fff;
	background-color:#666;
}
.PageTurn a:first-child:hover{
	background-color: #70ca10;
	color:#fff;
}


.recommend_box{
	padding-bottom:50px;
}
.samebox{
	width:580px;
	background: #fff;
}
.samebox_head{
	border-bottom:1px solid #f0f1f1;
	height:60px;
	line-height: 60px;
}

.samebox_head h3{
	text-indent: 18px;
	color:#6b6b91;
	font-size: 18px;
	font-weight: normal;
}
.more_org{
	padding:0 35px;
	border-left:1px solid #f0f1f1;
	color:#7e7e7e;
}

.sjs_box, .rec_mb{
	height:200px;
	padding:20px 0 20px 18px;
}
.sjs_info_box{
	float:left;
	width:270px;
	margin-bottom:24px;
	height:46px;
}
.sjs_info{
	margin-left: 18px;
}
.sjs_info a{
	display: block;
	color:#696969;
}
.sjs_info span{
	display: inline-block;
	margin-right:5px;
	color:#aaa;
}
.before, .next{
	/*padding:18px 0 0 29px*/
	width:41px;
	padding-top:18px;
	padding-left:29px;
	height: 42px;
	border-left:1px solid #f0f1f1;
}
.before i, .next i{
	display: block;
	width:12px;
	height: 23px;
	background: url(../img/XBT.png) no-repeat -30px -153px;
}
.next i{
	background: url(../img/XBT.png) no-repeat -47px -153px;
	
}
.rec_mb_info{
	padding-left:18px;
	width:260px;
	/*display: inline-block;*/
}
.rec_mb_title a{
	display: block;
	color:#515050;
	font-size: 18px;
	line-height: 26px;
}
.rec_mb_title time{
	color:#b3b3b3;
	line-height: 18px;
	font-weight: normal;
	
}
.rec_mb_info p{
	color:#7d7d7d;
	line-height: 25px;;
}


.adboss{
	padding-bottom:50px;
}
.adboss_box{
	background: #fff;
}



/*.adboss_list{
	margin:20px 18px 0 18px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.adboss_list li{
	width:132px;

}*/

.adboss_list:after{
	content:"";
	display: block;
	clear:both;
}
.adboss_list{
	margin:20px 0 0 18px;	
	padding-bottom: 20px;
}
.adboss_list li{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.adboss_ico{
	display: block;
}

.adboss_name{
	display: block;
	width:132px;
	line-height:24px;
	height:24px;
	text-align: center;
	color:#5a5a5a;
}
.adboss_name em{
	color:#a8a8a8;
}


/*foot-begin*/
.foot{
	color:#8e8e8e;
	background: #222324;
}

.links{
	padding-top:9px;
}
.links a, .links span{
	float:left;
	line-height:43px;
	margin-right:30px;
}
.links a{
	color:#cecece;
}
.links a:nth-of-type(5){
	margin-top:13px;
	height:17px;
	width:22px;
	background:url(../img/XBT.png) no-repeat 0 -102px;

}
.links .badges{
	float:right;
	margin-top:10px;
	height:30px;
	width:74px;
	background:url(../img/XBT.png) no-repeat 0 -121px;
}
.banquan{
	line-height:43px;
}
.banquan a{
	color:#70ca18;
}




@media only screen and (min-width: 1480px){
	.CS{
		width: 1480px;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1479px){
	.CS{
		width: 1180px;
	}
}

@media only all and (max-width:1179px){
	
	.top_wrap_navl{
		display:none;
	}
	.nav_openbtn{
		display:inline-block;
	}
	.some_news{
		display:hidden;
	}
	.recommend_box{
		display: none;
	}
	/*.recommend_box .samebox{
		float:none;
		display: block;
		margin-bottom:10px;
	}*/
	.adboss_list li:nth-of-type(4),.adboss_list li:nth-of-type(8){
		margin-right:0;
	}
}
@media only all and (min-width: 880px) and (max-width: 1179px){
	.CS{
		width:880px;
	}
	
}
@media only all and (min-width: 600px) and (max-width: 879px){
	.CS{
		width:580px;
	}
}
/*@media only screen and (max-width: 399px) {
	.CS{
		width: 320px;
		height: 50px;
		background: #E188C0;
	}
}*/





/*@media only all and (max-width:1250px){
	.CS{
		width:880px;
	}
	.top_wrap_navl{
		display:none;
	}
	.nav_openbtn{
		display:inline-block;
	}
	.some_news{
		display:hidden;
	}
	
	.recommend_box .samebox{
		float:none;
		display: block;
		margin-bottom:10px;
	}
}
@media only all and (max-width:950px){
	.CS{
		width:580px;
	}
	.top_wrap_navl{
		display:none;
	}
	.adboss_list li:nth-of-type(4),.adboss_list li:nth-of-type(8){
		margin-right:0;
	}
}*/


